@keyframes jumpAnimation {
    0%,20%,60%,100% {
        -webkit-transform: translateY();
        transform: translateY(0);
    }
    
    40% {
        -webkit-transform: translateY();
        transform: translateY(-20px); 
    }

    80%{
        -webkit-transform: translateY();
        transform: translateY(-10px); 
    }
}


.containerContent{
    animation:fadeInAnimation ease 2s;
    margin-top:12vw;
    display:flex;
    flex-direction: column ;
    align-items: center;
}

.containerTitleContent{
    width: 50%;
    text-align: center;
    height: 5vh;
}

.containerTitleContent span{
    font-weight: 800;
    font-size: 32px;
}


.containerAboutUs{
    width: 99vw;
    height: 50vh;
    margin-top:15vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    background:  linear-gradient(to top, rgba(10, 163, 214),  20%, #ffffff );
}

.containerAboutUsTitle{
    height:10vh;
    width: 20vw;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 32px;
}

.containerDesc{
    width: 80vw;
    height: 40vh;
    display:flex;
}

.containerLeftDesc{
    height: inherit;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerRightDesc{
    height: inherit;
    width: 30vw;
    display:flex;
    justify-content: center;
}

.containerLeftTitle{
    height: 10vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.containerLeftDescTxt{
    height: 20vh;
    margin-top:5vh;
    width: 70vh;
    line-height: 4vh;
    text-align: center;
}

.containerPhoneAndLoc{
    height: 25vh;
    margin-top:9vh;
}

.containerIconP{
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 8vh;
    justify-content: space-between;
}


.containerPhone{
    display:flex;
    flex-direction: column;
}

.containerLoc{
    display:flex;
    flex-direction: column;
    margin-top:1vw;
}

.containerIconL{
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 10vh;
    justify-content: space-between;
}

#number, #location{
    margin-top:1vw;
}

.containerInfoBoxes{
    width: 99vw;
    height: 93vh;
    margin-top:5vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}


@media(max-width:1316px){
    .containerContent{
        margin-top:14rem;
    }
}

@media (max-width:1515px){

    .socialMedia2{
        display:none;
    }

     .containerTiktok2{
        width: 100px;
        height:45px;
        display:flex;
        align-items: center;
    }


    .containerTiktok2 span{
        color:black;
    }

    .containerTktokImg{
        width: 20px;
        height:20px;
    }


    .containerTktokImg img{
        width: 100%;
        height: 100%;
    }


    .containerInst2{
        width: 100px;
        height:45px;
        display:flex;
        align-items: center;
    }

}

@media(max-width: 1145px){
    .containerAboutUs{
        height: 60vh;
    }

    .containerLeftDesc{
        width: 80vh;
        margin-top:6vh;
    }

    .containerRightDesc{
        margin-top:6vh;
    }

    .containerLeftDescTxt{
        width: 50vh;
    }
    
}


@media(max-width:1040px){
    .containerContent{
        margin-top:25rem;
    }
}

@media(max-width:1003px){
    .containerContent{
        margin-top:45rem;
    }

 
}


@media (max-width:873px){
    .containerContent{
       margin-top:30rem;
    }

}


@media(max-width:790px){
    .containerContent{
        margin-top:35rem;
 
     }
}


@media (max-width: 775px){

    .containerContent{
       margin-top:40rem;

    }

    .socialMedia2{
        width: 160px;
     }

     .containerTiktok2, .containerInst2{
        width:80px;
    }

}

@media(max-width:765px){
    .containerContent{
        margin-top:30rem;
 
     }
}


@media (max-width: 759px){
    .containerDesc{
        flex-direction: column;
        align-items: center;
    }

    .containerLeftDesc{
        width: 90%;
        margin-top:6vh;
    }

    .containerRightDesc{
        margin-top:6vh;
        width: 100%;
    }

    .containerLeftDescTxt{
        width: 99%;
        padding: 0vw 6vw 0vw 6vw;
    }
    .containerPhoneAndLoc{
        display:flex;
        height: auto;
        width: 222vh;
        justify-content: space-between;
        margin-top:0;
    }


    .containerAboutUs{
        height: 80vh;
    }

    .containerLoc{
        margin-top:0;
        display:flex;
    }
}



@media (max-width:688px){
    .containerAboutUsTitle{
        width: 25vh;
    }
    
}


@media (max-width:667px){
 
    .socialMedia2{
        margin-top:-50vw;
        margin-left:-56.5vw;
    }
}

@media(max-width:636px){
    .containerContent{
        margin-top:40rem;
 
     }
}


@media (max-width:590px){
     .socialMedia2{
        width: 30vw;
     }

     .containerInst2 {
        font-size:3vw;
     }
}

@media (max-width:555px){

    .containerPhoneAndLoc {
        display: flex;
        width: 40vh;
        flex-direction: column;
    }

    .containerLoc {
        margin-top: 3vw;
    }
 
   

}

@media (max-width: 458px){
  
    .containerPhoneAndLoc{
        display:flex;
        flex-direction: row;
        width: 25rem;
    }
    .containerLoc{
        margin-top:0;
        width: 9rem;
    }
 
 }

@media(max-width:428px){
    .containerPhoneAndLoc{
        display:flex;
        width: 65%;
        justify-content: space-between;
    }
}


 @media (max-width:414px){

    .containerTitleContent span,.containerAboutUsTitle{
        font-size:18px;
    }

    .containerPhone{
        width: 40vh;
    }

    .containerLeftTitle{
        font-size:16px;

    }
    .containerLeftDescTxt{
        font-size:14px;
        width: 20rem;
    }

    .socialMedia2{
        display:flex;
        width: 15vw;
        height:5vh;
        align-items: center;
     }
 
    .containerTiktok2{
        width: 20vw;
        height:45px;
        display:flex;
        align-items: center;
        margin-left:-2vw;
     }
 
 
     .containerTiktok2 span{
         color:black;
         font-size:3vw;
     }
 
     .containerTktokImg{
         width: 15px;
         height:15px;
     }
 
 
     .containerTktokImg img{
         width: 100%;
         height: 100%;
     }
 
 
     .containerInst2{
         width: 20vw;
         height:8vw;
         margin-left:-5.5vw;
         display:flex;
         align-items: center;
     }

     .containerInst2 span{
        color:black;
     }
    
     .instIcon2{
        max-width: 5vw;
     }
     .containerPhoneAndLoc{
        display:flex;
        width: 65%;
        justify-content: space-between;
    }

}

@media(max-width:400px){
    .containerContent{
        margin-top:52rem;
    }
    .containerRightDesc{
        width: 100%;
        
    }
    
    .containerPhoneAndLoc{
        display:flex;
        width: 100%;
        justify-content: space-between;
    }
}


@media(max-width:383px){
    .containerContent{
        margin-top:70rem;
    }
}

@media (max-width:375px){


    .containerContent{
        margin-top:35rem;
    }

    .containerTitleContent span,.containerAboutUsTitle{
        font-size:18px;
    }


    .containerLeftTitle{
        font-size:16px;

    }
    .containerLeftDescTxt{
        font-size:14px;
    }

    .socialMedia2{
        display:flex;
        width: 15vw;
        height:5vh;
        align-items: center;
     }
 
    .containerTiktok2{
        width: 20vw;
        height:45px;
        display:flex;
        align-items: center;
        margin-left:-2vw;
     }
 
 
     .containerTiktok2 span{
         color:black;
         font-size:3vw;
     }
 
     .containerTktokImg{
         width: 15px;
         height:15px;
     }
 
 
     .containerTktokImg img{
         width: 100%;
         height: 100%;
     }
 
 
     .containerInst2{
         width: 20vw;
         height:8vw;
         margin-left:-5.5vw;
         display:flex;
         align-items: center;
     }

     .containerInst2 span{
        color:black;
     }
    
     .instIcon2{
        max-width: 5vw;
     }

}

@media(max-width:331px){
    .containerLeftDescTxt{
        width: 16rem;
    }
}

@media(max-width:327px){

    .containerContent{
        margin-top:40rem;
    }
}


@media(max-height:500px){
    .containerContent{
        margin-top:30rem;
    }
}