

/* ----------------------- burger-menu -----------------------*/
nav{
    width:100%;
    display:flex;
    justify-content: flex-start;
    padding:1em;
}


.burger-menu{
    height:2.4vh;
    width:4em;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor:pointer;
}


.burger-bar{
    width:2em;
    height: 0.3em;
    background-color: black;
    border-radius:0.5em;
}


.menu{
    width: 0px;
    height: 100vh;
    background:  linear-gradient(to top, rgba(10, 163, 214),  30%, #ffffff 90%);
    position: absolute;
    top:-0.9vh;
    z-index:-555;
    transition: ease-out 0.5s ;
}


/* ----------------------- sliding menu ----------------------- */



.menu.unclicked{
    width: 0px;
    display:flex;
    visibility:hidden;
    transition: ease-out 0.5s ;
    
}

.menu.clicked{
    width: 50%;
    transition: ease-out 0.5s ;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.menu.clicked {
    cursor:pointer;
    margin-bottom:10vh;
}

.menu.unclicked span {
    display:none;
}

.navSite{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top:10vh;
    height: 40vh;
    justify-content: space-evenly;
}



.navSite span a{
    all:unset;
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 3vh;
    cursor:pointer;
    color: #0aa3d6;
}

.navSite span a:hover{
    text-decoration: underline;
    transition: ease-out 0.5s;
}
/* ----------------------- animations -----------------------*/

/* clicked */


.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.5em,0.5em);
    transition: ease-out 0.5s;
}


.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.28em, 0.3em);
    transition: ease-out 0.5s;
}



.burger-bar.unclicked{
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175,0.885, 0.32,1.275) 0.5s;
}






/* --------------------------- main page --------------------------- */


.containerHeader{
    height:11.5vh;
    display:flex;
    transition: ease-in-out 0.5s;
    z-index: 1;
} 
.containerHeaderScrolled {
    height:12.5vh;
    display:flex;
    top:0;
    z-index: 1;
    position: sticky;
    background: rgba(10, 163, 214, 0.8) ;
    transition: ease-in-out 0.5s;
}

.containerSocialMediaSmlHeader{
    position: absolute;
    display:flex;
    right: 0;
}

.containerNavLeft{
    width:100%;
    height:inherit;
    display:flex;
    justify-content: center;
    align-items: center;
}


.navLeftTxt,.navRightTxt{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:70%;
    height:inherit;
    font-size:12px;
}

.containerSocialMediaH{
    height: inherit;
    width: 40%;
}

.navLeftTxt h3, .navRightTxt h3{
    transition: ease-in-out 0.2s;
    cursor: pointer;

}

.navLeftTxt h3:hover, .navRightTxt h3:hover{
    color:rgb(0, 77, 102);
    transition: ease-in-out 0.2s;
}

.containerNavRight{
    width:25%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.containerSocialMediaH{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:2vw;
}


.containerMedias{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left:1vw;
   cursor:pointer;
}

.containerMedias span{
    margin-left:0.4vw;
}

#fb {
    margin-left:1vw;
}

.imgTiktok{
    width: 1vw;
    height: 1vw;
}

.imgTiktok img {
    width: 100%;
    height: 100%;
}



.navRightTxt .containerMedias{
    color:black;
}


.containerSmartPhoneClass, .containerMenu{
    display:none;
}


.imgTiktok{
    width: 30px;
    height:25px;
}


.containerHeaderSmall{
    display:none;
}


@media (max-width:717px){
    .containerNavLeft, .containerNavRight{
        display:none;
    }
    #home{
        cursor:pointer;
    }
    
    .containerHeaderSmall{
        display:inline;
    }

    .menuHeaderSmall{
        position: absolute;
        left:2vh;
    }

    .containerHeaderScrolled {
        height:0vh;
        display:flex;
        top:0;
        z-index: 1;
        background: transparent;
        transition: ease-in-out 0.5s;
    }

    .containerHeader{
        position: fixed ;
        display:flex;
        top:0;
        transition: ease-in-out 0.5s;
        z-index: 1;
    }

    .containerHeaderSmall{
        z-index: 1;
        width: 96vw;
        height:2.3vw;
        margin-top:1vw;
        text-align: right;
        position: relative;
    }

    .containerSocialMediaSmlHeader{
        height: inherit;
        width: 15vw;
        display:flex;
        align-items: center;
        position: absolute;
        right:0;
    }

    .containerHeaderSmall{
        z-index: 1;
        width: 100vw;
        height:5vw;
        margin-top:1vw;
        text-align: right;
        position: relative;
    }

    .containerHInst{
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: 50%;
        color:black;
    }

    .containerHTiktok{
        display: flex;
        width: 50%;      
        justify-content: center;
        align-items: center;
        height: inherit;
    }


}

@media(max-width:428px){
    .navSite span a{
        font-size: 15px;

    }
}

@media (max-width:374px){
    .containerHeaderSmall{
        z-index: 1;
        width: 96vw;
        height:7vw;
        margin-top:2vw;
        text-align: right;
        position: relative;
    }
}


@media (max-width:374px){
    .containerHeaderSmall{
        z-index: 1;
        width: 100vw;
        height:7vw;
        margin-top:0vw;
        text-align: right;
        position: relative;
    }
}


@media (max-width:360px){
    .containerHeaderSmall{
        z-index: 1;
        width: 100vw;
        height:7vw;
        margin-top:0vw;
        text-align: right;
        position: relative;
    }
}