.containerHeader{
    height:11.5vh;
    display:flex;
}

.containerNavLeft,.containerNavRight{
    width:50%;
    height:inherit;
    display:flex;
    justify-content: center;
    align-items: center;
}

.navLeftTxt,.navRightTxt{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
    height:inherit;
    font-size:14px;
}

.navLeftTxt h3, .navRightTxt h3{
    transition: ease-in-out 0.2s;
    cursor: pointer;

}
.navLeftTxt h3:hover, .navRightTxt h3:hover{
    color:rgba(10,164,214,255);
    transition: ease-in-out 0.2s;
}

.containerNavRight{
    width:50%;
}

