.containerServicesPage{
    height: 850vh;
}

.containerSubHeader{
    height: 55vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.containerSubTitleCleaning,.containerCleaningMakeShine{
    text-align: center;
}
.containerSubHeaderImg{
    height: inherit;
    width: 100vw;
}

.containerSubHeaderImg img{
    width: 100%;
    height: 100%;
}

.containerTitleSH{
    position: absolute;
    font-size: 56px;
    font-weight: 800;
}

.containerPaintingService{
    height: 380vh;
    margin-top:2vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    color: #0aa3d6;
    font-weight: bold;
    opacity: 0;
}

.resume-interior-painting, .resume-exterior-painting{
    height: 60vh;
    width: 100%;
    
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title-painting{
    color:black;
    font-size: 28px;
    text-align: center;
}

.title-interior-painting, .title-exterior-painting{
    font-size:24px;
    margin-top:3vh;
}

.subtitle-interior-painting,.subtitle-exterior-painting{
    font-weight: 600;
    width: 100vh;
    font-size:22px;
    margin-top:5vh;
    color:black;
    line-height: 2em;
}

.interior-img-painting, .exterior-img-painting{
    margin-top:5vh;
    width: 60rem;
    height: 30vh;
    display:flex;
    justify-content: space-between;
}

.interior-left-img,.interior-right-img, .exterior-left-img, .exterior-right-img{
    width: 45vh;
    border-radius:2vh;
    box-shadow: -10px -10px 0px 10px;
}

.interior-left-img img,.interior-right-img img ,.exterior-left-img img, .exterior-right-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:2vh;
}

.containerTitlePaintingService{
    font-size:36px;
    font-weight: 600;
}

.containerDryWall{
    font-size:28px;
    font-weight: 600;
    color:#02263B;
    text-align: center;
}



.containerDrywallTxt{
    font-size:22px;
    line-height: 5vh;
    color:#02263B;
    font-weight: 600;
}

 .containerTxtPressureW{
    font-weight:normal;
    line-height: 2em;
}


.containerInteriorAfter:hover,.containerInteriorBefore:hover, .containerExtBefore:hover, .containerExtAfter:hover, .containerSideImgFirst:hover, .containerSideImgTwo:hover, .containerImgDrywall:hover{
    cursor:pointer;
    transform: scale(1.1);
}


.containerPressureWashing{
    left:0;
    height: 85vh;
    display:flex;
    margin-top:-80vh;
}

.containerImgStyle{
    height: 130vh;
    width: 100%;
    margin-top:55vh;
}

.containerImgSlice{
    z-index:-1;
    height:50vh;
    margin-top:10vh;
}

.containerImgSlice img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerImgPW{
    width: 70vh;
    height: 39vh;
}

.containerImgPW img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.containerRightSideImg{
    width: 50vh;
    height: 55vh;
    margin-left:20vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerSideImgFirst{
    height:25vh;
    transition: ease-in-out 0.3s;
}

.containerSideImgTwo{
    height:25vh;
    transition: ease-in-out 0.3s;
}

.containerSideImgFirst img, .containerSideImgTwo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease-in-out 0.3s;
}

.containerTxtPressureW{
    width: 90%;
    margin-top:-20vh;
    text-align: center;
    font-size:22px;
    color:black;
}

.containerDryWall{
    margin-top:15vh;
}

.containerDryWallContent{
    width: 143.5vh;
    margin-top:5vh;
    height: 40vh;
    display:flex;
    justify-content: space-between;

}
.containerImgDrywall{
    width: 50vh;
    transition: ease-in-out 0.3s;
}

.containerImgDrywall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease-in-out 0.3s;
}

.containerDrywallTxt{
    width: 90vh;

}

.containerDividArea{
    margin-top:10vh;
    width: 100%;
    height: 30vh;
}

.containerImgDivideArea{
    width: 100vw;
    height: 80vh;

}

.containerImgDivideArea img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.containerCleaningServices{
    height: 150vh;
    margin-top:-30vh;
}

.containerCleaningTitle{
    font-weight: 800;
    font-size:32px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.containerSubTitleCleaning{
    height: 10vh;
    margin-top:5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:22px;
    font-weight: 600;
}

.containerCleaningMakeShine{
    margin-top: 3vh;
    height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    font-weight: 800;
}

.containerServicesCleaningImg{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.containerImgServices{
    width: 80vw;
    height: 70vh;
}

.containerImgServices img{
    width: 100%;
    height: 100%;
}

.containerCommercialCleaning{
    height:190vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.containerTitleCommCleaning{
    display:flex;
    align-items: center;
    align-items: center;
    height:20vh;
}

.containerTxtCommCleaning{
    width: 143vh;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}
/*s*/
.containerLeftContentCleaning{
    width: 60vh;
    height: 40vh;
    margin-top:5vh;
}

.containerRightContentCleaning{
    width: 65vh;
    height: inherit;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerLeftContentCleaning img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerTitleRight{
    height: 10vh;
    font-size:32px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0aa3d6;
    
}


.containerRightDescServices{
    height: 40vh;
    width: 80%;
    margin-left:13vh;
    font-size:22px;
    line-height: 5vh;
    font-weight: 600;
}

.type-cleaning{
    width: 100%;
    height: 100vh;
    margin-top:5vh;
    background-image: url('../../assets/wave.png') ;
    display:flex;
    justify-content: center;
    align-items: center;
}

.area-img{
    height: 80vh;
    width: 140vh;
}

.first-line,.second-line{
    height:40vh;
    display:flex;
    justify-content: space-evenly;
}


.img-left,.img-right{
    height: 40vh;
    width: 60vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.left-title, .right-title{
    font-size:22px;
    font-weight: 800;
    position: absolute;
    margin-top:15vh;
    color: #ffffff;
    z-index:1;
}

.img-first-line{
    height: 30vh;
    margin-top:3vh;
    width: 100%;
    filter:brightness(50%);
    transition: ease-in-out 0.3s;
}

.img-first-line:hover{
    filter:brightness(80%);
    transform:scale(1.05);
    cursor:pointer;
    transition: ease-in-out 0.3s;
}

.img-first-line img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.contact-area{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.callus-today{
    width: 40vh;
    font-size: 22px;
    font-weight: 800;
    display:flex;
    align-items: center;
    justify-content: center;
}

.request-service{
    border:1px solid rgb(0, 0, 0);
    margin-top: 5vh;
    padding:2vh;
    font-size:22px;
    font-weight: bold;
}


.contact-form{
    border:1px solid #0a83ac;
    width: 80vh;
    margin-top:3vh;
    height: 85vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: -14px 4px 13px 2px grey;
    
}

.contact-form-device{
    height: 100vh;
    margin-top:-10vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display:none;
}

.contact-form-device span{
    color: #0aa3d6;
    font-weight: 800;
    font-size:32px;
}

.form-device{
    width: 60vh;
    height: 60vh;
    display:flex;
    flex-direction: column;
    border:1px solid #0aa3d6;
    border-radius: 1vh;
    box-shadow: -10px 5px 10px 0px grey;
    padding:1vh;
}


.form-device input{
    all:unset;
    border-radius:0.6vh;
    padding:1vh  1vh 1vh 1vh ;
    background:rgba(10,163,214, 0.3);
}

.form-device textarea{
    height:30vh;
    resize:none;
    background:rgba(10,163,214, 0.3);
    border:none;
    border-radius:1vh;
    outline: none;
    padding:1vh  1vh 1vh 1vh ;
}

.form-device input, textarea{
    margin-bottom:5vh;
}

.contact-form, .contact-questions{
    border-radius:1vh;
}

.contact-form-title{
    font-size:28px;
    font-weight: 800;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:2vh;
}

.contact-questions{
    border:1px solid #0a83ac;
    margin-top:2vh;
    height: 65vh;
    width: 95%;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.first-square{
    width: 90%;
    height:13vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.first-square #name{
    all:unset;
    background:rgba(10,163,214, 0.3);
    width: 97.8%;
    padding:1vh  1vh 1vh 1vh ;
    border-radius:0.6vh;
    
}

.email-phone{
    display:flex;
    justify-content: space-between;
}


.email-phone #email, #phone{
    all:unset;
    background:rgba(10,163,214, 0.3);
    width: 46%;
    padding:1vh  1vh 1vh 1vh ;
    border-radius:0.6vh;
}

.inputMaskServ{
    padding:1vh  1vh 1vh 1vh ;
    border-radius:0.6vh;
    border:none;
    width: 30vh;
    background:rgba(10,163,214, 0.3);
}


.second-square{
    margin-top:4vh;
    width: 90%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.second-square textarea{
    width: 100%;
    height:30vh;
    resize:none;
    background:rgba(10,163,214, 0.3);
    border:none;
    border-radius:1vh;
    outline: none;
    padding:1vh  1vh 1vh 1vh ;
}

.btn-send button, .contact-form-device button {
    padding:1vh 3vh 1vh 3vh;
    border-radius:1vh;
    font-weight: 800;
    border:none;
    cursor:pointer;
    background-color:rgb(10, 163, 214);
    transition:ease-in-out 0.3s;
}

.btn-send button{
    animation: animar ;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 20px 5px rgba(10, 163, 214, 0.5);

}

.btn-send button:hover, .contact-form-device button:hover{
    background-color:rgb(48, 193, 241);
    transition:ease-in-out 0.3s;
}

.certified{
    height: 10vh;
    margin-top: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.img-certified{
    width: 20%;
}

.img-certified img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#phoneServices,#phoneServices2,#phoneServices3{
    visibility: hidden;
}


#pressureImagePc{
    display:relative;
}

#pressureImagePhone{
    display:none;
}

/* Celulares */

@media screen and (max-width: 1000px){

    /* Subheader of header */
    .containerSubHeader{
        height: 15rem;
        width: 100%;
    }
    .containerSubHeaderImg{
        width: 100%;
    }

    .subtitle-interior-painting,.subtitle-exterior-painting{
        width: 100%;
        text-align: center;
    }

    .interior-img-painting,.exterior-img-painting{
        flex-direction: column;
        width: 100%;
        height: 70rem;
        justify-content: center;
        align-items: center;
    }

    .interior-left-img, .interior-right-img, .exterior-left-img, .exterior-right-img{
        width: 20rem;
        height: 14rem;
        box-shadow: none;
    }

    .containerImgStyle{
        z-index:-1;
    }

    .containerPressureWashing{
        width: 100%;
        margin-top:25rem;
        flex-direction: column;
    }

    .containerRightSideImg{
        width: 100%;
        margin-left:0;
        justify-content: center;
        align-items: center;
    }


    .containerSideImgFirst, .containerSideImgTwo{
        width: 20rem;
    
    }
    .containerSideImgFirst img{
        width: 100%;
    }

    .containerTxtPressureW{
        margin-top:4rem;
    }

    #pressureImagePc{
        display:none;
    }
    
    #pressureImagePhone{
        display:flex;
    }
    .containerCleaningServices{
        margin-top:75rem;
    }

    .containerDryWallContent{
        width: 100%;
        height: 50rem;
        flex-direction: column;
        align-items: center;
    }

    .containerDrywallTxt{
        width: 100%;
        text-align: center;
        margin-top:2rem;
    }


    
    .containerServicesCleaningImg{
        width: 100%;
        height: 55rem;
    }

    #pc,#phoneServices,#phoneServices2{
        display: none;
    }

    #phoneServices3{
        visibility: visible;
        height: 50rem;
    }

    .containerCommercialCleaning{
        margin-top:10rem;
        
    }

    .containerTxtCommCleaning{
        width: 100%;
        flex-direction: column;
        height: 50rem;
    }

    .containerRightContentCleaning{
        width: 100%;
    }

    .containerLeftContentCleaning{
        width: 100%;
    }

    .containerRightDescServices{
        margin-left:0;
    }

    .containerImgPW{
        width: 100%;
        padding:1rem;
    }

    .type-cleaning,.first-line,.second-line{
        width: 100%;
        flex-direction: column;
    }

    .first-line,.second-line{
        height: 40rem;
    }

    .img-left,.img-right{
        width: 100%;
    }

    .area-img{
        width: 100%;
        margin-top:15rem;
    }

    .img-first-line{
        width: 90vw;
    }

    .contact-area{
        margin-top:63rem;
    }

    .contact-form{
        width:90vw;
        height: 80vh;
    }

}

@media screen and (max-width: 390px){
    .containerPressureWashing{
        margin-top:36rem;
    }
}

@media screen and (max-width: 370px){
    .containerPressureWashing{
        margin-top:40rem;
    }
}
