.container-footer{
    height: 30vh;
    margin-top:5.7vh;
    background-color: #0aa3d6;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 50%;
    height: 30vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.social-media{
    height: 13vh;
    width: 20%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.created-by{
    font-weight: 800;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.tiktok{
    width: 3vh;
    height: 3vh;
}
.tiktok img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#device-created{
    display:none;
}

@media (max-width: 700px){
    .container-footer{
        margin-top:40vh;
    }

    #device-created{
        display:flex;
    }

    #desktop-created{
        display:none;
    }

    .created-by{
        font-size:15px;
        text-align: center;
    }
}

@media (max-width: 600px){
    .container-footer{
        margin-top:0;
    }
}