.containerBoxesContent{
    width: 30vw;
    height: inherit;
}

.containerBoxContent{
    background-color: #0AA3D6;
    border-radius:10px;
    box-shadow: -10px 10px 20px 5px rgb(128, 126, 126);
    height: 40vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.containerTitleBox{
    height: 7vh;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:22px;
    font-weight: 600;
    text-align: center;
}

.containerBeforeAndAfter{
    width: 20vw;
    height:5vh;
    margin-top:2vh;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

#before, #after{
    background-color: white;
    padding: 0.7vh;
    width: 10vh;
    text-align: center;
    border-radius: 1vh;
}

.containerImgBeforeAndAfter{
    margin-top:2vh;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.containerImgBefore,.containerImgAfter{
    width: 40%;
}


.containerImgBefore img,.containerImgAfter img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5vh;
}

.containerDescAboutJob{
    height: 45.7vh;
    margin-top:4vh;
    display:flex;
    flex-direction: column;
    line-height: 4vh;
    font-size:18px;
    color:gray;
    font-weight: 600;
    opacity: 0.8;
}



@media(max-width:1215px){
    .containerBoxesContent {
        width: 35vw;
    
    }

    .containerBeforeAndAfter {
        width: 25vw;
       
    }
}


@media(max-width:1215px){
    .containerBoxesContent {
        width: 40vw;
    
    }
}

@media(max-width:927px){
    .containerBoxesContent {
        width: 45vw;
    
    }
    .containerBeforeAndAfter {
        width: 30vw;
    }
}


@media(max-width:813px){
    .containerInfoBoxes {
        display: flex;
        flex-direction: column;
        width: 55vw;
        height: 180vh;
    }

    .containerBoxesContent {
        width: 40vw;
        height: 100vh;
    }

    .containerBoxesContent {
        width: 55vw;
    
    }
    .containerBeforeAndAfter {
        width: 35vw;
    }
}

@media(max-width:813px){
    .containerInfoBoxes {
        width: 65vw;
    }

    .containerBoxesContent {
        width: 65vw;
    }
   
}

@media(max-width:737px){
    .containerBeforeAndAfter {
        width: 40vw;
    }
}



@media(max-width:645px){
    .containerInfoBoxes {
        width: 75vw;
    }

    .containerBoxesContent {
        width: 75vw;
    }
   
    .containerBeforeAndAfter {
        width: 50vw;
    }

}


@media(max-width:645px){
    .containerInfoBoxes {
        width: 85vw;
    }

    .containerBoxesContent {
        width: 85vw;
    }
   
    .containerBeforeAndAfter {
        width: 60vw;
    }

}

@media(max-width:555px){
    .containerBoxesContent{
    }

}


@media(max-width:375px){
    .containerTitleBox{
        font-size:18px;
    }

    .containerBeforeAndAfter{
        font-size:12px;
    }

    .containerDescAboutJob{
        font-size: 12px;
    }
    
}